body{
    background-color: rgb(232, 244, 255);
}

.parent-container{
    height: 50vh;
    display:grid;
    place-items: center;
    column-gap: 3px;
}

.welcome{
    text-align: center;
    color: rgb(20, 12, 108);
    font-family: Verdana;
}

.start-button{
    margin:10px 0px 0px 0px;
    text-align: center;
    font-family: Arial; 
    background-color: rgb(41, 31, 145);
    color: white;
    width: 300px;
    border: hidden;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}