/*mengatur seluruh bagian webpage*/
body{
    /* background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(241, 171, 171, 0.5)); */
    background-color: rgb(232, 244, 255);
}

/*peraturan untuk parent container untuk dapat mendisplay sebagaimana yang diinginkan */
.parent-container{
    height: 100vh; 
    display: grid;
    grid-template-areas: 
    'form-area'
    'bottom-text';
    place-items: center;
    gap: 7px;

}
/*Pengaturan container form*/
.form-area{
    display:grid;
    gap:10px;
    margin-top:20px;
    background-color: white;
    justify-content: center;
    padding: 20px 10px 20px 10px;
    grid-area: form-area;
    border: 1px hidden;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 6px rgb(0,0,0,0.2);
    width: 400px;
    height: 300px;
}

.login-text{
    font-family: 'Helvetica'; 
    text-align: center;
    color: rgb(41, 31, 145);
}

.form-area label{
    font-family: Arial; 
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    font-size:18px;
    font-weight: bold;
    color: rgb(14, 8, 88);
}

.form-area input{
    font-family: Arial; 
    width: 300px;
    border: 1px hidden;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgb(0,0,0,0.25);
    font-size:15px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

.login-button{
    font-family: Arial; 
    background-color: rgb(41, 31, 145);
    color: white;
    width: 300px;
    border: hidden;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
}

.login-button:hover {
    background-color: rgb(24, 16, 109);
}

/*Pengaturan container untuk teks bawah*/
.bottom-text{
    font-family: Helvetica;
    grid-area: bottom-text;
}

.bottom-text a{
    text-decoration: none;
}

.register-text{
    margin-top: 0px;
    text-align: center;
    margin-bottom: 4px;
}

.admin-text{
    text-align: center;
    margin-bottom: 10px;
}

/*Pengaturan alert container untuk error*/
.alert-container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.alert-box{
    background: #fdfffa;
    padding: 30px;
    border: hidden 2px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px rgb(0,0,0,0.25);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.alert-box h2{
   font-family: 'Helvetica'; 
   color:  rgb(41, 31, 145);
   margin-bottom: 25px;
}

.alert-box ul{
   list-style-type: none;
   text-align: left;
   margin: 0;
   padding: 0;
}

.alert-box li{
   font-family: 'Arial'; 
   text-align: left;
   margin-bottom: 10px;
}

.alert-box button {
    font-family: 'Helvetica'; 
    padding: 10px 20px;
    background-color: rgb(41, 31, 145);
    color: white;
    border: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.alert-box button:hover {
    background-color: rgb(24, 16, 109);
}

/*best practice, karena kita tidak ingin margin dan padding default 
menggangu padding atau margin yang kita inginkan nantinya*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}