.logout-container {
    position: absolute;
    top: 10px;
    right: 10px;
}
.logout-button {
    background-color: rgb(14, 35, 94);
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease;
}

.logout-button:hover {
    background-color: rgb(59, 74, 124);
}
