/*mengatur seluruh bagian webpage*/
body{
    background-color: rgb(232, 244, 255);
}

/*peraturan untuk parent container untuk dapat mendisplay sebagaimana yang diinginkan */
.parent-container{
    display: grid;
    grid-template-areas: 
    'top-text'
    'data-area';
    column-gap: 0;
    height: 90vh;
    place-items: center;
}
/*Pengaturan container teks*/
.top-text{
    color: rgb(34, 26, 124);
    grid-area: 'top-text';
    justify-self: center;
    width: 600px;
    margin: 10px 50px 0 0;
}

.title{
    font-family: 'Helvetica'; 
    margin-bottom: 10px;
}

.sub-title{
    font-family: 'Helvetica';
    text-align: left;
    margin-bottom:4px;
}
/*Pengaturan container form*/
.data-area{
    padding: 30px 25px 10px 12px;
    grid-area: 'data-area';
    background-color: white;
    border: 1px hidden;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgb(0,0,0,0.2);
    width: 650px;
    height: 1000px;
    margin-top: 5px;
}

.first-info-row{
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    margin-top: -10px;
}

.first-info-row label{
    width: 100px;
}

.first-info-row input{
    flex: 1;
    padding: 3px 0 3px 0;
    margin-left: 10px;
}

.info-row{
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.info-row label{
    width: 100px;
}

.info-row input{
    flex: 1;
    padding: 3px 0 3px 0;
    margin-left: 10px;
}

.data-area label{
    font-family: Arial; 
    width: 200px;
    margin: 8px 0 8px 0;
    text-align: left;
    font-size:16px;
    font-weight: bold;
    color: rgb(14, 8, 88);
}

.data-area input{
    color:rgb(120, 120, 120);
    font-family: Arial; 
    width: 250px;
    border: 1px hidden;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgb(0,0,0,0.25);
    font-size:12px;
}

.button-wrapper{
    margin-top: 10px;
    display:flex;
    justify-content: center;
}
.submit-button{
    margin:10px 0px 0px 0px;
    text-align: center;
    font-family: Arial; 
    background-color: rgb(41, 31, 145);
    color: white;
    width: 200px;
    border: hidden;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
}

.submit-button:hover {
    background-color: rgb(24, 16, 109);
}

.back-button{
    margin:10px 15px 0px 0px;
    text-align: center;
    font-family: Arial; 
    background-color: rgb(41, 31, 145);
    color: white;
    width: 200px;
    border: hidden;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
}

.back-button:hover {
    background-color: rgb(24, 16, 109);
}


/*best practice, karena kita tidak ingin margin dan padding default 
menggangu padding atau margin yang kita inginkan nantinya*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}